img{
    height: 300px;
    width:300px;
}
.color-title{
    font-weight: normal;
}
#red{
    color:red;
}
#blue{
    colour:blue;
}
#orange{
    color:orange;
}
#green{
    color:green;
}
#yellow{
    color:yellow;
}